doctype html
html
  meta(http-equiv='Content-Type',content='text/html',charset='utf-8')
  meta(name='viewport',content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
  meta(name="format-detection", content="telephone=no")
  link(rel="shortcut icon",type="image/x-icon",href="http://ac-a5zjlnxg.clouddn.com/0e742527e5852b108c28.png")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
