doctype html
html
  meta(http-equiv='Content-Type',content='text/html',charset='utf-8')
  meta(name='viewport',content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
  meta(name="format-detection", content="telephone=no")
  link(rel="shortcut icon",type="image/x-icon",href="http://lc-a5zjlnxg.cn-n1.lcfile.com/0e742527e5852b108c28.png")
  script(src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js',async=true)
  script(type='text/javascript').
    (adsbygoogle = window.adsbygoogle || []).push({
     google_ad_client: "ca-pub-6720265507033122",
     enable_page_level_ads: true
    });
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
