* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  font-family: -apple-system, BlinkMacSystemFont, 
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
  "Fira Sans", "Droid Sans", "Helvetica Neue", 
  sans-serif;
}
html.is-hidden {
  opacity: 0;
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica', Arial, sans-serif;
}

form {
  margin:20px auto 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 600px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
form input[type="text"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 12px;
  width: 500px;
  font-size: 16px;
  outline: none;
  border: 1px solid #706778;
  border-radius: 0;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}
form input[type="text"]:focus {
  background-color: #fefbf3;
}
form .search {
  width: 100px;
  padding: 12px 24px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background-color: #706778;
  border: 1px solid #706778;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
form .search:hover {
  background-color: #564f5d;
}
.result{
  margin: 0 auto;
  width: 90%;
  word-break: break-all;
}
section{
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background: #f9f9f9;
}
.tag{
  margin-right: 10px;
}
.keywords{
  margin: 20px auto;
  width: 600px;
  word-break: break-all;
}
.hot-title{
  font-size: 14px;
  color: rgb(199, 109, 109);
  margin-right: 10px;
}
.history{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.download{
  color: rgb(199, 109, 109);
}
footer{
  text-align: center;
  font-size: 12px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
footer a{
  display: block;
  color: #706778;
  text-align: center;
}
.deer{
  display: block;
  margin: 30px auto 0;
}

@media screen and (max-width: 700px) {
  form {
    width: 320px;
    margin: 100px auto 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  form input[type="text"]{
    width: 210px;
  }
  .keywords{
    margin: 20px auto;
    width: 300px;
  }
}

